.custom-button {
  .ant-btn {
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
  }

  .ant-btn-primary {
    background-color: #4361ee;
    &:hover {
      background-color: #4361ee !important;
      color: #fff !important;
    }
  }

  .ant-btn-secondary {
    background-color: #3b3f5c;
    &:hover {
      background-color: #3b3f5c !important;
      color: #fff !important;
    }
  }

  .ant-btn-cancel {
    background-color: #fff;
    border: 1px solid #e7515a;
    color: #e7515a;

    &:hover {
      background-color: #e7515a;
      border: 1px solid #e7515a;
      color: #fff;
    }
  }

  .ant-btn-default {
    background-color: #fff;
    border: 1px solid #4361ee;
    color: #4361ee;
    &:hover {
      background-color: #4361ee !important;
      border: 1px solid #4361ee;
      color: #fff !important;
    }
  }
}
