.custom-list-page {
  .content-single-page {
    background-color: #fff;
    padding: 24px;
    margin-top: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .header-card {
      .flex-column {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    .content-card {
      margin-top: 18px;
    }
  }
  .content-more-page {
    margin-top: 16px;
    display: flex;
    width: 100%;
    gap: 18px;
    .content-left-page {
      flex: 6 1 0%;
    }
    .content-right-page {
      flex: 4 1 0%;
    }
  }
}
